In [2]:
import numpy as np
import pandas as pd

In [13]:
df1 = pd.read_csv("/Users/superponny/PycharmProjects/stats_KDZ/prepare-data/all_v2.csv")
df2 = pd.read_csv("prepared_data_v1.csv")
df3 = pd.read_csv("prepared_data_v2.csv")
df4 = pd.read_csv("prepared_data_v3.csv")

In [7]:
df1.head(10)

,price,date,time,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
0,6050000,2018-02-19,20:00:21,59.805808,30.376141,2661,1,8,10,3,82.6,10.8,1
1,8650000,2018-02-27,12:04:54,55.683807,37.297405,81,3,5,24,2,69.1,12.0,1
2,4000000,2018-02-28,15:44:00,56.295250,44.061637,2871,1,5,9,3,66.0,10.0,1
3,1850000,2018-03-01,11:24:52,44.996132,39.074783,2843,4,12,16,2,38.0,5.0,11
4,5450000,2018-03-01,17:42:43,55.918767,37.984642,81,3,13,14,2,60.0,10.0,1
5,3300000,2018-03-02,21:18:42,55.908253,37.726448,81,1,4,5,1,32.0,6.0,1
6,4704280,2018-03-04,12:35:25,55.621097,37.431002,3,2,1,25,1,31.7,6.0,11
7,3600000,2018-03-04,20:52:38,59.875526,30.395457,2661,1,2,5,1,31.1,6.0,1
8,3390000,2018-03-05,07:07:05,53.195031,50.106952,3106,2,4,24,2,64.0,13.0,11
9,2800000,2018-03-06,09:57:10,55.736972,38.846457,81,1,9,10,2,55.0,8.0,1

In [8]:
df1.shape

(5477006, 13)

In [9]:
df2.head(10)

,Unnamed: 0,price,date,time,geo_lat,geo_lon,region,building_type,level,levels,...,new,old,Other,Panel,Monolithic,Brick,Blocky,Wooden,distance_to_metro,metro
0,150,8806100,2018,07:43:24,55.872870,37.593110,3,1,5,24,...,0,1,0,1,0,0,0,0,"(1287, 'Отрадное')",Отрадное
1,384,13293000,2018,01:23:56,55.790968,37.475395,3,2,3,14,...,0,1,0,0,1,0,0,0,"(1180, 'Октябрьское_Поле')",Октябрьское_Поле
2,1536,10600000,2018,05:41:24,55.813353,37.632791,3,3,2,8,...,1,0,0,0,0,1,0,0,"(627, 'Алексеевская')",Алексеевская
3,1938,14250000,2018,09:16:01,55.806940,37.646392,3,2,6,12,...,0,1,0,0,1,0,0,0,"(518, 'Алексеевская')",Алексеевская
4,1942,11990000,2018,09:16:59,55.808834,37.649427,3,2,3,9,...,0,1,0,0,1,0,0,0,"(661, 'Алексеевская')",Алексеевская
5,2039,7300000,2018,09:37:59,55.880666,37.686428,3,3,1,9,...,1,0,0,0,0,1,0,0,"(1729, 'Медведково')",Медведково
6,2108,15990000,2018,09:52:11,55.795249,37.525945,3,2,8,15,...,0,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт
7,2109,19000000,2018,09:52:11,55.795249,37.525945,3,2,3,15,...,0,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт
8,2112,15200000,2018,09:52:11,55.809934,37.727885,3,2,20,30,...,1,0,0,0,1,0,0,0,"(663, 'Бульвар_Рокоссовского')",Бульвар_Рокоссовского
9,2298,8150000,2018,10:38:17,55.815681,37.491817,3,3,3,3,...,1,0,0,0,0,1,0,0,"(383, 'Стрешнево')",Стрешнево

In [10]:
df2.shape

(50337, 30)

In [11]:
df3.head(10)

,Unnamed: 0.1,Unnamed: 0,price,date,time,geo_lat,geo_lon,building_type,level,levels,...,old,Other,Panel,Monolithic,Brick,Blocky,Wooden,distance_to_metro,metro,id_in_sad
0,0,150,8806100,2018,07:43:24,55.872870,37.593110,1,5,24,...,1,0,1,0,0,0,0,"(1287, 'Отрадное')",Отрадное,0
1,1,384,13293000,2018,01:23:56,55.790968,37.475395,2,3,14,...,1,0,0,1,0,0,0,"(1180, 'Октябрьское_Поле')",Октябрьское_Поле,0
2,2,1536,10600000,2018,05:41:24,55.813353,37.632791,3,2,8,...,0,0,0,0,1,0,0,"(627, 'Алексеевская')",Алексеевская,0
3,3,1938,14250000,2018,09:16:01,55.806940,37.646392,2,6,12,...,1,0,0,1,0,0,0,"(518, 'Алексеевская')",Алексеевская,0
4,4,1942,11990000,2018,09:16:59,55.808834,37.649427,2,3,9,...,1,0,0,1,0,0,0,"(661, 'Алексеевская')",Алексеевская,0
5,5,2039,7300000,2018,09:37:59,55.880666,37.686428,3,1,9,...,0,0,0,0,1,0,0,"(1729, 'Медведково')",Медведково,0
6,6,2108,15990000,2018,09:52:11,55.795249,37.525945,2,8,15,...,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт,0
7,7,2109,19000000,2018,09:52:11,55.795249,37.525945,2,3,15,...,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт,0
8,8,2112,15200000,2018,09:52:11,55.809934,37.727885,2,20,30,...,0,0,0,1,0,0,0,"(663, 'Бульвар_Рокоссовского')",Бульвар_Рокоссовского,0
9,9,2298,8150000,2018,10:38:17,55.815681,37.491817,3,3,3,...,0,0,0,0,1,0,0,"(383, 'Стрешнево')",Стрешнево,0

In [16]:
df3.shape

(50337, 28)

In [14]:
df4.head(10)

,Unnamed: 0.1,Unnamed: 0,price,date,time,geo_lat,geo_lon,building_type,level,levels,...,old,Other,Panel,Monolithic,Brick,Blocky,Wooden,distance_to_metro,metro,id_in_sad
0,0,150,8806100,2018,07:43:24,55.872870,37.593110,1,5,24,...,1,0,1,0,0,0,0,"(1287, 'Отрадное')",Отрадное,0
1,1,384,13293000,2018,01:23:56,55.790968,37.475395,2,3,14,...,1,0,0,1,0,0,0,"(1180, 'Октябрьское_Поле')",Октябрьское_Поле,0
2,2,1536,10600000,2018,05:41:24,55.813353,37.632791,3,2,8,...,0,0,0,0,1,0,0,"(627, 'Алексеевская')",Алексеевская,0
3,3,1938,14250000,2018,09:16:01,55.806940,37.646392,2,6,12,...,1,0,0,1,0,0,0,"(518, 'Алексеевская')",Алексеевская,0
4,4,1942,11990000,2018,09:16:59,55.808834,37.649427,2,3,9,...,1,0,0,1,0,0,0,"(661, 'Алексеевская')",Алексеевская,0
5,5,2039,7300000,2018,09:37:59,55.880666,37.686428,3,1,9,...,0,0,0,0,1,0,0,"(1729, 'Медведково')",Медведково,0
6,6,2108,15990000,2018,09:52:11,55.795249,37.525945,2,8,15,...,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт,0
7,7,2109,19000000,2018,09:52:11,55.795249,37.525945,2,3,15,...,1,0,0,1,0,0,0,"(705, 'Аэропорт')",Аэропорт,0
8,8,2112,15200000,2018,09:52:11,55.809934,37.727885,2,20,30,...,0,0,0,1,0,0,0,"(663, 'Бульвар_Рокоссовского')",Бульвар_Рокоссовского,0
9,9,2298,8150000,2018,10:38:17,55.815681,37.491817,3,3,3,...,0,0,0,0,1,0,0,"(383, 'Стрешнево')",Стрешнево,0

In [15]:
df4.shape

(50337, 31)